@model List<MVC2._0.Models.Movie>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@*<a class="btn btn-primary " href=@Html.ActionLink("New Movie","New","Movies",null,null)</a>*@
<table id="movies" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movies</th>
        <th>Genre</th>

    </tr>
    </thead>
    <tbody>

  
    </tbody>
</table>
@*@if (Model.Count > 0)
{}
else
{
    <p> No list of movies available</p>
}*@


@section scripts
{
    
    <script>

        $(document).ready(function () {

            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"

                    },
                    {
                        data: "genre.name"
                    }
                ]
            });


        });

    </script>

}
